<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <label>Roles:
        <li th:each="role : ${allRoles}">
            <input type="checkbox" name="roles" th:field="*{roles}" th:value="${role}"
                   th:text="${role}" />
        </li>
    </label>
    </br>
    <input type="submit" value="Create User">
</form>

<a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>

<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>