<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin`s panel</title>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Admin`s page</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Roles</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.roles}"></td>
                <td><a th:href="@{edit/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{delete/{id}(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/adduser">Create user</a></p>
</div>

<a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>

<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>

</body>
</html>